img {
    width: 24px;
    height: 24px;
}

.forcast {
    color: var(--text-color);
    display: grid;
    transition: 300ms;
    justify-items: center;
    max-height: 500px;
    background-color: var(--panel-bg);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 0;
    row-gap: 30px;
}

.forcast-detail {
    display: grid;
    justify-items: center;

    >img {
        height: 48px;
        width: 48px;
    }

    >.temp {
        font-size: var(--text-medium);
    }
}


.forcast-location {
    justify-self: center;
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    align-items: center;

    >div {
        font-size: vat(--text-medium);
        font-weight: 600;
    }

    > svg {
        width: 26px;
        height: 26px;
    
        > path {
            fill: var(--text-color);
        }        
    }
}

.forcast-additional {
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

.additional-item {
    width: 60px;
    display: grid;
    justify-content: center;
    justify-items: center;
}