

.searchbar {
    display: grid;
    place-items: center;
    padding: 20px;

    >form {
        width: 100%;
        max-width: 800px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 50px;
        column-gap: 10px;
    }
}

.save-location-action {
    margin-top: 16px;
    font-size: var(--text-small);
    color: var(--action-color);
    cursor: pointer;
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr 4fr;
    height: calc(100vh - var(--header-height));
}

.forcast {
    color: var(--text-color);
    display: grid;
    justify-items: center;
    max-height: 500px;
    // text-shadow: 1px 1px 1px rgb(0, 0, 0);
    // filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
    margin-bottom: 15px;
}


.forcast-location {
    justify-self: center;
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    align-items: center;

    >div {
        font-size: var(--text-medium);
        font-weight: 600;
    }

    > svg > path {
        fill: var(--text-color);
    }
}

.forcast-detail {
    display: grid;
    justify-items: center;

    >img {
        width: 128px;
        height: 128px;
    }

    >.temp {
        font-size: var(--text-large);
    }

    >.description {
        font-size: var(--text-medium);
    }

}

.forcast-additional {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 3px solid #ffffff24;
    padding-top: 10px
};


.additional-item {
    width: 120px;
    display: grid;
    justify-content: center;
    justify-items: center;

    & img {
        width: 72px;
        height: 72px;
    }

    &:nth-child(1) {
        animation: slidein1 .7s ease-out;
    }
    &:nth-child(2) {
        animation: slidein2 .7s ease-out;
    }
    &:nth-child(3) {
        animation: slidein3 .7s ease-out;
    }
    &:nth-child(4) {
        animation: slidein4 .7s ease-out;

    }

}

.not-found-desc {
    font-size: var(--text-medium);
}

.loader {
    display: grid;
    place-items: center;
    grid-auto-flow: rows;
    row-gap: 10px;
    height: 200px;

    > .spinner {
        > circle {
            fill: var(--text-color);
        }
        width: 112px;
        height: 112px;
        animation: rotate-endless 2s infinite linear;
    }
}


.empty-locations {
    margin-top: 50px;
    display: grid;
    place-items: center;

    > .empty-container {
        display: grid;
        row-gap: 15px;
        justify-items: center;

        >img {
            width: 340px;
            height: 340px;
        }

        >div {
            font-size: var(--text-medium);
        }

    }
}

@media (min-width: 500px) {
    .forcast-additional {
        grid-template-columns: repeat(4, 1fr);
    }
}


@keyframes rotate-endless {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes slidein1 {
    0% {
        transform: translate(-100%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}

@keyframes slidein2 {
    0% {
        transform: translate(-200%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}

@keyframes slidein3 {
    0% {
        transform: translate(-300%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}
@keyframes slidein4 {
    0% {
        transform: translate(-300%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}