<div class="wrapper">
    <section class="searchbar">
        <form>
            <input name='search' [(ngModel)]="search" class="search-input" placeholder="Search Location..." />
            <button (click)="searchClicked()"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                    viewBox="0 0 1664 1664">
                    <path fill="currentColor"
                        d="M1152 704q0-185-131.5-316.5T704 256T387.5 387.5T256 704t131.5 316.5T704 1152t316.5-131.5T1152 704zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124q-143 0-273.5-55.5t-225-150t-150-225T0 704t55.5-273.5t150-225t225-150T704 0t273.5 55.5t225 150t150 225T1408 704q0 220-124 399l343 343q37 37 37 90z" />
                </svg></button>
            <span class="save-location-action" (click)="saveToLocations()">+ Save to "Your Locations"</span>
        </form>
    </section>


    <section *ngIf="data$ | async as data; else loading" class="forcast">
        <ng-container *ngIf="!error; else notFound">
        <div class="forcast-location">
            <svg width="32" height="41" viewBox="0 0 32 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M27.6917 24.549C29.5385 21.6984 31.1925 19.1453 31.1925 15.5963C31.1925 6.98269 24.2099 0 15.5963 0C6.98269 0 0 6.98269 0 15.5963C0 20.1866 2.51553 23.614 5.13924 27.1677C6.37239 29.4276 9.44427 33.0724 12.0711 36.1891C13.5007 37.8852 14.7984 39.4249 15.5963 40.5C16.4988 39.1319 18.3141 36.9608 20.2128 34.6899C22.5478 31.8972 25.009 28.9537 26.0533 27.1677C26.5914 26.2474 27.1499 25.3854 27.6917 24.549ZM15.5963 22.1366C20.5977 22.1366 24.6522 18.0822 24.6522 13.0807C24.6522 8.07931 20.5977 4.02484 15.5963 4.02484C10.5948 4.02484 6.54037 8.07931 6.54037 13.0807C6.54037 18.0822 10.5948 22.1366 15.5963 22.1366Z" fill="white"/>
                </svg>
            <div>{{data.city.name}}</div>
        </div>
        <div>{{mainItem.dt * 1000| date: 'EEEE, MMM d'}}</div>
        <div class="forcast-detail">
            <img [src]="mainItem.weather[0].icon | codeToImage: 'light'" />
            <div class="temp">{{mainItem.main.temp | number : '1.0-0'}} &deg;</div>
            <div class="description">{{mainItem.weather[0].description}}</div>
        </div>
        <div class="separator"></div>
        <div class="forcast-additional">
            <div *ngFor="let item of additionalItems" class="additional-item">
                <div>{{item.dt | localTime}}:00</div>
                <img [src]="item.weather[0].icon | codeToImage: 'light'" />
                <div>{{item.main.temp | number : '1.0-0'}} &deg;</div>
            </div>
        </div>
        </ng-container>
    </section>
    <ng-template #notFound>
    <div class="empty-locations">
        <div class="empty-container">
            <img src="assets/not-found-light.svg">
            <div class="not-found-desc">Coul'd not find what you were looking for.. Try again</div>
        </div> 
    </div>
    </ng-template>

    <ng-template #loading>
        <section class="loader">
            <svg class="spinner" width="512" height="512" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="256" cy="256" r="156" fill="white"/>
                <circle cx="100" cy="412" r="26" fill="white"/>
                <circle cx="412" cy="412" r="26" fill="white"/>
                <circle cx="256" cy="35" r="26" fill="white"/>
                <circle cx="100" cy="100" r="26" fill="white"/>
                <circle cx="412" cy="100" r="26" fill="white"/>
                <circle cx="256" cy="477" r="26" fill="white"/>
                <circle cx="477" cy="256" r="26" fill="white"/>
                <circle cx="35" cy="256" r="26" fill="white"/>
                </svg>
            <div>Loading...</div>
        </section>

    </ng-template>

</div>