// :root {
//     height: 100vh;
//     background: gray;    
// }

:host {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.header {
    // width: 100%;
    margin: 0 20px;
    height: var(--header-height);
    display: grid;
    column-gap: 10px;
    grid-template-columns: 150px 1fr 1fr;
    > .logo {
        display: grid;
        align-items: center;
        column-gap: 10px;
        grid-template-columns: auto 1fr;
        font-size: var(--text-medium);
        cursor: pointer;
        > img {
            width: 36px;
            height: 36px;
        }
    }

    > .toggle {
        display: grid;
        justify-self: end;
        align-items: center;
        justify-items: end;
    }

    > .nav {
        display: grid;
        justify-self: end;
        align-items: center;
        grid-auto-flow: column;
        column-gap: 20px;
        font-size: var(--text-medium);
        > a {
            border-bottom: 4px solid transparent;
            color: var(--text-color);
            padding: 6px;
            &.active {
                border-bottom: 4px solid var(--secondary-color);
            }

        }

    }

}


/** custom toggle switch **/

$clouds: #ecf0f1;
$turquoise: #1abc9c;
$greensea: #16a085;
$night: #34495e;
$midnight: #2c3e50;
$transition: all .3s ease;

.toggle {
    & input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
     & .check-trail {
        display: flex;
        align-items: center;
        width: 60px;
        height: 30px;
        background: $midnight;
        border-radius: 25px;
        transition: $transition;
        cursor: pointer;
      }
     & .check-handler {
        display: flex;
        margin-left: 5px;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        background: $night;
        border-radius: 50%;
        transition: $transition;
        box-shadow: 0 0 8px rgba(0,0,0,0.3);
        
      }
     & input[type="checkbox"]:checked + .check-trail {
        background: $greensea;
        .check-handler {
          margin-left: 50%;
          background: $turquoise;
          
        }
      }
 }

