:host {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.header {
    margin: 0 20px;
    height: var(--header-height);
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    color: var(--text-color);

    > .logo {
        display: grid;
        align-items: center;
        column-gap: 10px;
        grid-template-columns: auto 1fr;
        font-size: var(--text-medium);
        cursor: pointer;
        > img {
            width: 36px;
            height: 36px;
        }
    }

    > .toggle {
        align-self: center;
        justify-self: center;    
    }

    > .nav {
        display: grid;
        justify-self: end;
        align-items: center;
        grid-auto-flow: column;
        column-gap: 20px;
        font-size: var(--text-medium);
        > a {
            border-bottom: 4px solid transparent;
            color: var(--text-color);
            padding: 6px;
            &.active {
                border-bottom: 4px solid var(--action-color);
            }

        }

    }

}


/** custom toggle switch **/

$transition: all .3s ease;

.toggle {
    & input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
     & .check-trail {
        display: flex;
        align-items: center;
        width: 60px;
        height: 30px;
        background: var(--action-color);
        border-radius: 25px;
        transition: $transition;
        cursor: pointer;
      }
     & .check-handler {
        display: flex;
        margin-left: 5px;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        background: var(--bg);
        border-radius: 50%;
        transition: $transition;
        box-shadow: 0 0 8px rgba(0,0,0,0.3);
        
      }
     & input[type="checkbox"]:checked + .check-trail {
        .check-handler {
          margin-left: 50%;          
        }
      }
 }

