/* You can add global styles to this file, and also import other style files */


input, button {
    background-color: white;
    border-radius: 4px;
    height: 45px;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    padding: 0 2%;
    &:focus {
        box-shadow: 0px 0px 3px 2px var(--primary-color);
        outline: none;
    }
    
}

button {
    transition: all 0.2s linear;
    cursor: pointer;
  
    &.primary {
        background-color: var(--primary-color);
        color: white;
    }
    &.secondary {
        background-color: white;
        border: 1px solid var(--primary-color);
    }
    &:disabled {
        cursor:not-allowed;
        opacity: 50%;
    }
}