/* You can add global styles to this file, and also import other style files */


/* reset*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    /**  custom properties **/
    --primary-color: #8588f0;
    --secondary-color: #EF9D98;
    --light-color: #ffffff;
    --dark-color: #2c3e50;


    --text-small: 16px;
    --text-medium: 22px;
    --text-large: 36px;

    --header-height: 60px;

    /* default light mode properties*/
    --text-color: var(--dark-color);
    --bg: var(--light-color);
    --panel-bg: #d5d5d54e;
    --action-color: var(--primary-color);


}

body {
    transition: all 0.2s linear;
    background-color: var(--bg);
    color: var(--dark-color);

    /* dark mode properties*/
    &.dark {
        --text-color: var(--light-color);
        --bg: var(--dark-color);
        --panel-bg: #1111114e;
        --action-color: var(--secondary-color);
    }
}



/* globla inputs styling*/

input,
button {
    border-radius: 4px;
    height: 45px;
    font-size: var(--text-small);

    &:focus {
        outline: none;
    }

}

input {
    background-color: white;
    border: 1px solid #e0e0e0;
    padding: 0 10px;
}

button {
    border: unset;
    transition: all 0.4s linear;
    cursor: pointer;
    background-color: var(--action-color);
    color: white;

    &:disabled {
        cursor: not-allowed;
        opacity: 50%;
    }
}